* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-width: 1000px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

.menu,
.menuProducts,
.cart {
  display: flex;
}

.menuProducts,
.cart {
  row-gap: 15px;
  column-gap: 30px;
  flex-wrap: wrap;
}

.menu {
  width: 75%;
  margin: 0 auto;
}

.categories {
  background-color: coral;
}

.menuProducts {
  background-color: burlywood;
}

.productImage {
  width: 150px;
  height: 100px;
}

.cartIcon {
  height: 50px;
  width: 100px;
  background-image: url('./images/cart.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.orderCount {
  display: none;
  border-radius: 45%;
  background-color: chocolate;
  color: white;
  padding: 5px 10px;
  position: absolute;
  right: 0px;
}

.cart {
  background-color: bisque;
  width: 30%;
}

.cart.hidden {
  display: none;
}
