* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-width: 1000px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

.menu, .menuItems, .cart {
  display: flex;
}

.menuItems, .cart {
  row-gap: 15px;
  column-gap: 30px;
  flex-wrap: wrap;
}

.menu {
  width: 75%;
  margin: 0 auto;
}

.categories {
  background-color: coral;
}

.menuItems {
  background-color: burlywood;
}

.cart {
  background-color: bisque;
  width: 30%;
}

.cart.hidden {
  display: none;
}

.orderCount {
  display: none;
  border-radius: 45%;
  background-color: chocolate;
  color: white;
  padding: 5px 10px;
}
